@{
    ViewBag.Title = "Home Page";
}


<ol class="breadcrumb">

</ol>

<div class="jumbotron">
    <h1>Creación de Album Muse <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></h1>
   
    <div class="panel panel-default">
        <div class="panel-heading">Resumen</div>
        <div class="panel-body">

            <span class="label label-danger">Muse</span>
            <span class="label label-success">1994</span>
            <p>Muse es una banda británica de rock formada en 1994 Inglaterra. Desde su formación en la década de los 90, sus integrantes son: Matt Bellamy (compositor, voz, guitarra, teclados); Dominic Howard (batería, percusión); y Christopher Wolstenholme (bajo eléctrico, teclados, coros).</p>


        </div>
    </div>

        
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="Album/Create">Crear Album</a></li>
            <li><a href="Album.html">Primer Album</a></li>
        </ul>
    </div>

  

</div>




